﻿html,body {
	font-family:微软雅黑;
}
body.x-desktop {
	font-size:100%;
}
/*#region 引导页 */
.guide .x-innerhtml {
	height:100%;
}
.guide .bgImg {
	height:100%;
	background-image:url('../img/main.png');
	background-size:100% 100%;
}
.guide .text {
	padding:3em;
}
.guideIco {
	background-image:url('../img/ico/guide.png');
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right;
	float:right;
	height:100%;
	width:4em;
	height:4em;
	margin-right:1.5em;
}
.guideBtn.pressing .guideIco {
	background-image:url('../img/ico/guidedown.png');
}
/*#endregion*/
/*#region 首页 */

.home .x-button {
	background-image:none;
	background-color:transparent;
	border:0;
	padding:0.2em 0;
}
.home .x-button .x-button-label {
	font-weight:normal;
	color:#3F444A;
	font-size:.7em;
	margin-top:.25em;
}
.home .x-button .x-button-icon {
	font-size:1.8em;
}
/*#endregion*/
/*#region 天气预报 */

.weather div {
	color:White;
	font-size:0.6em;
}
.weather span {
	width:2em;
	height:2em;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:bottom;
}
.weather .tc {
	text-align:center;
}
/*#endregion*/
/*#region 底部导航栏 */

.navToolbar {
	padding:0;
}
.navToolbar .x-button {
	border:0;
	margin:0;
	border-right:1px solid #585B5B;
	border-radius:0;
	padding:0;
}
.navToolbar .x-button .x-button-label {
	font-weight:normal;
	color:White;
	font-size:1em;
}
.navToolbar .x-tabBar-pressing {
	background-color:#313435;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#3F4243),color-stop(100%,#222425));
	background-image:linear-gradient(#3F4243,#222425);
	background-image:-webkit-linear-gradient(#3F4243,#222425);
}
/*#endregion*/
/*#region 列表 */
.list {
	font-size:.75em;
}
.list .x-list-item.x-list-item-tpl .x-innerhtml {
	padding:1em 0;
	line-height:1.8em;
}
.list .img {
	width: 2em;
height: 3em;
background-size: 100% auto;
background-position: center;
margin-left: 1em;
background-repeat: no-repeat;
}
.list .content {
	margin-left:0.5em;
}
/*#endregion*/
/*#region 详细页 */
.info
{
     font-size: .8em;
     line-height: 1.5em;
}

.info .x-inner {
	padding:0.5em 1em;
}
.tc
{
    display:flex;
	align-items:center;
	justify-content:center;
}
.w3
{
     width: 3em;
}
.w6
{  width: 6em;
    }
.tf
{
     text-align: left;
    }
.mt
{
     margin-top: 1em;
    }

/*#endregion*/
/*#region cardPanel */

.cardPanel .x-toolbar-dark {
	background-color:#FF5B0A;
	background-image:none;
	border-bottom-color:#ED5F12;
}
.cardPanel .x-title {
	font-weight:normal;
	text-shadow:none;
}
.back.x-button {
	background-color:transparent;
	background-image:none;
	border:0;
}
.back.x-button.x-button-pressing {
	background-color:transparent;
	background-image:none;
}
/*#endregion*/
/*#region ico */
.pIco {
	background-size:auto 100%;
}
.ico {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	text-align:center;
	font-family:"Pictos";
}
.squared:before {
	content:"u";
}
.orangeYellow {
	color:#F37E0B;
}
.orange {
	color:#ED5F12;
}
.roseRed {
	color:#DE3554;
}
.lightBlue {
	color:#2C94B1;
}
.green {
	color:#7DB13A;
}
.blue {
	color:#4C93C2;
}
.yellow {
	color:#F19300;
}
.paleYellow {
	color:#F3B428;
}
.smBlue {
	color:#45ADB9;
}
.yellowish {
	color:#B15F2E;
}
.x-button.x-button-pressing .x-button-icon {
	color:#11598c;
}
/*#endregion*/
/*#region 公用css */
.dc {
	display:flex;
	align-items:center;
	justify-content:center;
}
.tc {
	text-align:center;
}
/*#endregion*/
/*#region 信息提示 */

.message .x-mask-inner {
    background-color:Black;
    font-size:0.9em;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    top:7em;
}
.message .x-mask-message {
    line-height:1.8em;
    padding:0 0.3em;
}

/*#endregion*/
/*#region 盒模型 */

.bh {
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
.bv {
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.bone {
	-webkit-box-flex:1;
}
.btwo {
	-webkit-box-flex:2;
}
.bthree {
	-webkit-box-flex:3;
}
.bfour {
	-webkit-box-flex:4;
}
/*#endregion*/
/*#region 滚动条 */

/* 隐藏x方向滚动条 */
.x-scroll-bar-x.active {
  width: 0px; 
}
/* 隐藏y方向滚动条 */
.x-scroll-bar-y.active {
  width: 0px; 
}

/*#endregion*/